.idea
.venv
.ipynb_chekpoints
tom.egg-info
/docs/
/data/
/venv/
/plots/
/models/
/results/
/notebooks/
/videos/
/dist/
/build/

# Ignore downloaded crack detection models
/crackpy/crack_detection/models/

# Ignore all files in the scripts folder except for python files
/scripts/**/*.*
!/scripts/**/*.py

# Ignore some files for debugging on windows
/Fracture_Analysis_DIC_results
/Fracture_Analysis_FE_results
fracture_analysis_dic.py
fracture_analysis_fem.py

__pycache__
*.xml
*.iml
*.pyc
